{% extends 'shoppingmall/base.html' %}
{% load staticfiles %}

{% block title %} LOGIN {% endblock %}

{% block content %}
	<div class="change-form">
		<h2 class="text-success"> 비밀번호 변경 </h2>
		<form method="post">
		  {% csrf_token %}
		  {% for field in form %}
				<p>
				{{ field.label }}<br/>
				{{ field }}				
				{% for error in field.errors %}
				  <p style="color: red">{{ error }}</p>
				{% endfor %}
			  </p>
			{% endfor %}
		  <button type="submit" class="btn btn-info btn-lg">Save changes</button>
		  <a type="button" class="btn btn-default btn-lg" style="color:red;"
				href="{% url 'shopping:setting' %}">cancle</button>
		</form>
	</div>
{% endblock %}