{% extends 'shoppingmall/base.html' %}
{% load staticfiles %}

{% block title %}HOME{% endblock %}

{% block header %}
	{% include 'shoppingmall/shopNav.html' %}
	{% include 'shoppingmall/category_list.html' %}
	
{% endblock %}

{% block content %}
<div id="wrap">
	
	<div class="item-list">
		<div class="list-table" id="list-table">
		{% for item in object_list %}
			<div class="col-xs-12 col-sm-4" style="padding:10px">
				<a href="{% url 'shopping:item_detail' item.pk %}" style="color:black">
				{% if item.photo %}
					<img src="{{ item.photo.url }}" width="80" height="80"><br/>
				{% endif %}
				<p>{{ item.productName }}<br/>{{ item.price }}원</p>
				</a>
			</div>
		{% endfor %}
		</div>
	</div>
	
</div>
{% endblock %}

{% block javascript %}

<script>

var pageNum = 1;
var hasNextPage = true;

if( hasNextPage ){

	$(window).scroll(function(){
		var w_height = $(window).height();
		var d_height = $(document).height();
		var top = $(window).scrollTop();
		if( top >= d_height - (w_height*2) ){
			pageNum++;
			$.ajax({
				type:"GET",
				url:"?page="+pageNum,
				success:function(response){
					if( response.msg ){
						var item = response.object_list;
						for( i in item ){
							var each = item[i];
							var div = document.createElement("div");
							$(div).attr("class","col-xs-12 col-sm-4");
							$(div).attr("style","padding:10px");
							console.log( div );
							var a = document.createElement("a");
							console.log( each.category_id , each.id );
							$(a).attr("href","/shopping/product/detail/"+each.id+"/");
							$(a).attr("style","color:black");
							console.log( a );
							if( each.photo ){
								var img = document.createElement("img");
								$(img).attr("src", "/media/"+each.photo );
								$(img).attr("width","80");
								$(img).attr("height","80");
								console.log( img );
							}
							var p = document.createElement("p");
							var title = document.createTextNode( each.productName + "<br/>" + each.price );
							p.appendChild(title);
							console.log( p );
							
							div.appendChild(a);
							div.appendChild(img);
							div.appendChild(p);
							
							document.getElementById("list-table").appendChild(div);
						}						
		
					} else {
						hasNextPage = false;
					}
					
				},
			});
		}
	});
}
</script>

{% endblock %}